.container {
  display: flex;
  height: fit-content;
  align-items: center;
}

.projectContainer {
  position: relative;
  width: 100%;
}

.projectContainer div {
  border-top: 1px solid #0c0c0c;
  cursor: pointer;
  position: relative;
  margin-bottom: -2vw;
  background-color: #efefef;
  z-index: 1;
}

.projectContainer div p {
  margin: 0px;
  font-size: 5vw;
  padding-left: 10px;
  text-transform: uppercase;
  pointer-events: none;
}
